ul {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 30px;
}

ul li {
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: #000;
    margin: 5px 0;
    transition: .5s;
}

ul li:nth-child(1) {
    background: rgba(0, 0, 0, 0.3);
}

ul li span:nth-child(1) {
    width: 40em;
    text-align: left;
}

ul li span:nth-child(2) {
    text-align: right;
    width: 200em;
}